# IAM role to access S3
IAM_ROLE=
# common image to use
COMMON_IMAGE=
# image to use
IMAGE=
# your username (could be anything - it's just to coordinate access to s3)
OWNER=
# the username of the user that owns the dataset (so one user can generate
# datasets and many users can try different models)
DATASET_OWNER=
# the master developer key (to rebuild images)
THINGPEDIA_DEVELOPER_KEY=
# the Genie/decanlp task to train: either `almond` or `contextual_almond`
train_task_name=almond
# the name of the project (to group all related experiments together)
project=
# git commits to build (for rebuild-image.sh)
genie_version=v0.5.2
thingtalk_version=v1.9.2
genienlp_version=v0.1.1
