# IAM role to access S3
IAM_ROLE=
# image to use
IMAGE=
# your username (could be anything - it's just to coordinate access to s3)
OWNER=
# the master developer key (to rebuild images)
THINGPEDIA_DEVELOPER_KEY=
# the Genie/decanlp task to train: either `almond` or `contextual_almond`
train_task_name=almond
# the working directory to use when generating the dataset/evaluating
# useful to run multiple projects at the same time
workdir=workdir 
